.addtodo{
	/*display: none;*/
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -125px;
	width: 250px;
	background: #eaeaea;
	padding: 20px;
	box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.4);
}
.addtodo .close{
	position: absolute;
	top:-30px;
	right: 0;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	background: #000000;
	color:white;
}
.addtodo .close:hover{
	background: #ff0000;
}

.done-true {
  color: #cdcdcd;
}
